<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="Modernizr" version="1.7" />
  <package id="RazorEngine" version="2.1" />
  <package id="fluent-email" version="1.0" />
  <package id="log4net" version="1.2.10" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="WebActivator" version="1.4.1" />
  <package id="Ninject.MVC3" version="2.2.2.0" />
  <package id="jQuery.Templates" version="0.1" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="EmitMapper" version="1.0.0" />
  <package id="MiniProfiler" version="1.6" />
</packages>