<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ScrumMolderDataEntities" connectionString="metadata=res://*/MScrumMolder.csdl|res://*/MScrumMolder.ssdl|res://*/MScrumMolder.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server;initial catalog=ScrumMolderData;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
