<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="eGo.ScrumMolder.Data.ScrumMolderContext" connectionString="Data Source=SERVER;Initial Catalog=ScrumMolderData;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.mail.com" userName="test@mail.com" password="password"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>